*.d
*.pyc
*.pyo
*.pyd
__pycache__/
.Python
*.pth
*.pt
*.ckpt
.vscode/
.idea/
*.swp
.ipynb_checkpoints
.env
env/
.venv/
venv/
.cls_venv/
wandb
training_history/
tests/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride